table.Table {
  @apply flex-grow overflow-y-hidden w-full h-full grid grid-rows-[auto,1fr];
  border-spacing: 0;

  thead {
    @apply bg-grey2 rounded-lg w-full;
  }

  tbody {
    @apply bg-white overflow-y-auto;
  }

  td,
  th {
    @apply lg:min-w-[5rem] text-xs lg:text-base;
    padding: 15px 6px;
    text-align: left;
  }
  th {
    @apply text-darkGrey text-opacity-50 font-semibold;
  }

  td {
    @apply text-grey4 font-medium;
  }
}

.table-footer {
  @apply flex items-center justify-between mt-[37px] mb-6;
}
tr {
  display: table;
  table-layout: fixed;
  width: 100%;
}
