table.Table {
  @apply flex-grow overflow-y-hidden w-full h-full grid grid-rows-[auto,1fr];
  border-spacing: 0;
  @media only screen and (max-width: 600px) {
    ::-webkit-scrollbar {
      display: none;
    }
  }

  thead {
    @apply bg-grey2 rounded-lg w-full;
  }

  tbody {
    @apply bg-white overflow-y-auto;
  }

  td,
  th {
    @apply md:min-w-[5rem] w-[6rem] md:w-[17%] text-xs lg:text-base break-words;
    padding: 15px 6px;
    text-align: left;
  }
  th {
    @apply text-darkGrey text-opacity-50 font-semibold;
  }

  td {
    @apply text-grey4 font-medium;
  }
}

.table-footer {
  @apply flex items-center justify-between mt-[37px] mb-6;
}
tr {
  display: table;
  table-layout: fixed;
  width: 100%;
}
