@import '/fonts/fellix/fellix-font.css';

/* purgecss start ignore */
@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Fellix';
  src: url('/fonts/fellix/fellix-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Fellix';
  src: url('/fonts/fellix/fellix-Medium.ttf');
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}
body {
  @apply bg-[#F9F9F9] overflow-hidden h-screen w-screen;
  font-family: 'Fellix', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Dashboard {
  @apply relative h-screen w-screen overflow-hidden flex flex-col;

  .HeaderNav {
    @apply py-[25px] px-[45px] bg-white flex items-center justify-between overflow-hidden;

    .logo {
      @apply text-3xl font-bold cursor-default;

      span {
        @apply font-light italic text-primary;
      }
    }

    .info-side {
      @apply flex items-center;

      .avatar-box {
        @apply flex items-center justify-center rounded-full h-8 w-8  bg-grey ml-[19px] mr-2;
      }

      .user-name {
        @apply text-sm mr-[10px];
      }
    }
  }

  .PageSection {
    @apply px-[52px] py-[38px] flex-grow flex flex-col overflow-hidden;
  }

  .PageHeader {
    @apply flex items-center justify-between mb-8;

    h1 {
      @apply text-[32px] text-dark font-medium;
    }

    .actions {
      @apply flex items-center space-x-[3.25rem];
    }
  }

  .Button {
    @apply rounded-md lg:rounded-lg disabled:bg-[#ccc] focus:outline-none flex items-center justify-center px-2 lg:px-6 space-x-[1.25rem];
    &:hover:not(:disabled) {
      filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.08));
    }
  }

  .PageTabs {
    @apply flex items-center space-x-4 border-b mb-4;
  }

  table.Table {
    @apply flex-grow overflow-y-hidden w-full h-full grid grid-rows-[auto,1fr];
    border-spacing: 0;

    thead {
      @apply bg-grey2 rounded-lg w-full;
    }

    tbody {
      @apply bg-white overflow-y-auto;
    }

    td,
    th {
      @apply lg:min-w-[5rem] text-xs lg:text-base;
      padding: 15px 6px;
      text-align: left;
    }
    th {
      @apply text-darkGrey text-opacity-50 font-semibold;
    }

    td {
      @apply text-grey4 font-medium;
    }
  }

  .table-footer {
    @apply flex items-center justify-between mt-[37px] mb-6;
  }
  tr {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .Checkbox {
    @apply flex items-center justify-center w-6 h-6 border border-[#E0E0E0]  rounded-[1px] cursor-pointer ml-8;
    &.active {
      @apply bg-primary border-primary;
    }
  }
  .Modal {
    @apply fixed z-50 w-full h-full flex flex-col justify-center items-center inset-0 bg-dark bg-opacity-[52%];
    .inner {
      @apply w-[25rem];
    }
  }

  .SearchInput {
    @apply w-[20rem];
  }
}

/* scroll bar */
*::-webkit-scrollbar {
  @apply w-1 h-1 bg-grey rounded-full;
}
*::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-full;
}
/* purgecss end ignore */
@tailwind utilities;
