@import '/fonts/fellix/fellix-font.css';

/* purgecss start ignore */
@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Fellix';
  src: url('/fonts/fellix/fellix-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Fellix';
  src: url('/fonts/fellix/fellix-Medium.ttf');
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}
body {
  @apply bg-[#F9F9F9] overflow-hidden h-screen w-screen;
  font-family: 'Fellix', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* scroll bar */
*::-webkit-scrollbar {
  @apply w-1 h-1 bg-grey rounded-full;
}
*::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-full;
}
/* purgecss end ignore */
@tailwind utilities;
